body {
	background-color: rgb(246,248,247);
}


.art-header {
	clear: both;
	height: 150px;
	background-color: rgb(165,198,222);
	border: 1px solid rgb(92,90,90);
	border-radius: 15px 15px 0 0;
}

.art-header .art-header-img {
	width: 18%;
	float: left;
	margin: 18px 0 0 20px;
}

.art-header .art-header-img img { 
	width: 75%;
}

.art-header .art-header-presentation {
	width: 70%;
	float: left;
	line-height: 100px;
}

.container {
	clear: both;
	position: relative;
	display: table;
	margin: 20px auto 0;
    max-width: 1728px;
    min-width: 700px;
    position: relative;
    width: 90%;
    z-index: -5;
    border: 1px solid rgb(207,208,208);	
}

.container .container-side {
	width: 20%; 
	float: left;
	height: 100%;
	padding: 20px;
	border-right: 1px solid #ccc;
}

.container #content {
	background-color: #FFF;
	margin: 10px;
	height: 100%;
	text-align: left;
}


.container #content .form {
	padding: 20px ;
	margin: 0;
	display: table;
}

.container #content .form .row {
	margin: 5px 5px 5px 10px;
	width: 200px;
	float: left;
	clear: both;
}

.container #content .form .row label {
	width: 60px;
	padding: 6px 0;
}

.container #content .form .row input {
	padding: 4px 2px;
	margin: 5px 0;
	height: 20px;
	width: 600px;
}

#box-form {
	padding: 20px 0;
}

#box-form h1 {
	padding: 0 20px;
}

.container #content .form .buttons input {
	font-size: 14px;
	width: 205px;
	padding: 4px 2px;
	margin: 5px 5px 5px 0;
	height: 35px;
	cursor: pointer;
}


.container #content .login {
	padding: 20px ;
	margin: 0;
	display: table;
}

.container #content .login .row {
	margin: 5px 5px 5px 10px;
	width: 200px;
	float: left;
	clear: both;

}

.container #content .login .row label {
	width: 60px;
	padding: 6px 0;
}

.container #content .login .row input {
	padding: 4px 2px;
	margin: 5px 0;
	height: 20px;
	width: 200px;
}

.container #content .login .buttons input {
	font-size: 14px;
	width: 205px;
	padding: 4px 2px;
	margin: 5px 5px 5px 0;
	height: 35px;
	cursor: pointer;
}

.errorMessage {
	color: red;
}

.container #content .login .buttons input:hover,
.container #content .form .buttons input:hover {
	background: #eee;
}

.search-button {
	text-align: right !important;
	float: right;
	padding: 10px 15px;
	clear: both;
}

#usuario-grid {
	padding: 10px;
	clear: both;
}

.container .container-side .menu {
	
}
.container .container-side .menu ul {
	}

.container .container-side .menu ul li {
	line-height: 20px;
	color: #000 !important;
	background-color: #bbb;
	padding: 5px 0;
	border: 1px solid #ccc;
	font-size: 14px;
}
.container .container-side .menu ul li:hover,
.container .container-side .menu ul li.active {
	background-color: #aaa;
	cursor: pointer;
}

.container .container-side .menu ul li a {
	color: #000 !important;
}

.container .container-main {
	float: left;
	width: 76%;
	display: table-cell;
}

.art-footer {
	clear: both;
	width: 90%;
	border: 1px solid #ccc;
	margin: 30px auto;
	text-align: right;
	background-color: #FFF;
}

.list-view .items .view {
	padding: 10px 20px;
	line-height: 25px;
	border-bottom: 1px solid #bbb;
}