body {
	background-color: rgb(246,248,247);
}


.art-header {
	clear: both;
	height: 150px;
	
	background-color: rgb(165,198,222);
	
}

.art-header .art-header-img {
	width: 18%;
	float: left;
	margin: 18px 0 0 20px;
}

.art-header .art-header-img img { 
	width: 100%;
	float:center;
	
}

.art-header .art-header-presentation {
	width: 70%;
	float: right;
	line-height: 100px;
	margin: 18px 0 0 20px;
}

.container {
	clear: both;
	position: relative;
	display: table;
	margin: 20px auto 0;
    max-width: 1728px;
    min-width: 700px;
    position: relative;
    width: 90%;
    z-index: -5;
    border: 0px solid rgb(207,208,208);	
}

.container .container-side {
	width: 20%; 
	float: left;
	height: 100%;
	padding: 20px;
	border-right: 0px solid #ccc;
}

.container #content {
	background-color: #f6f8f7;
	margin: 0px;
	height: 0%;
	text-align: left;
}


.container #content .form {
	padding: 20px ;
	margin: 0;
	display: table;
	width: 85%;
}

#import-ws {
	float: right;
	padding: 0 10px;
	margin: 24px 0 0 0;
	line-height: 29px;
	width: 90px;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	display: inline-block;
}

.container #content .form .row {
	margin: 5px 5px 5px 10px;
	width: 200px;
	float: left;
	clear: both;
}

.container #content .form .row label {
	width: 60px;
	padding: 6px 0;
}

.container #content .form .row input {
	padding: 4px 2px;
	margin: 5px 0;
	height: 20px;
	width: 600px;
}

#box-form {
	padding: 20px 0;
}

#box-form h1 {
	padding: 0 20px;
}

.container #content .form .buttons input {
	font-size: 14px;
	width: 205px;
	padding: 4px 2px;
	margin: 5px 5px 5px 0;
	height: 35px;
	cursor: pointer;
}


.container #content .login {
	padding: 20px ;
	margin: 0;
	display: table;
}

.container #content .login .row {
	margin: 5px 5px 5px 10px;
	width: 200px;
	float: left;
	clear: both;

}

.container #content .login .row label {
	width: 60px;
	padding: 6px 0;
}

.container #content .login .row input {
	padding: 4px 2px;
	margin: 5px 0;
	height: 20px;
	width: 200px;
}

.container #content .login .buttons input {
	font-size: 14px;
	width: 205px;
	padding: 4px 2px;
	margin: 5px 5px 5px 0;
	height: 35px;
	cursor: pointer;
}

.errorMessage {
	color: red;
}

.container #content .login .buttons input:hover,
.container #content .form .buttons input:hover {
	background: #eee;
}

.search-button {
	text-align: right !important;
	float: right;
	padding: 10px 15px;
	clear: both;
}

#usuario-grid {
	padding: 10px;
	clear: both;
}

.container .container-side .menu {
	
}
.container .container-side .menu ul {
	}

.container .container-side .menu ul li {
	line-height: 20px;
	color: #000 !important;
	background-color: #bbb;
	padding: 5px 0;
	border: 1px solid #ccc;
	font-size: 14px;
}
.container .container-side .menu ul li:hover,
.container .container-side .menu ul li.active {
	background-color: #aaa;
	cursor: pointer;
}

.container .container-side .menu ul li a {
	color: #000 !important;
}

.container .container-main {
	float: left;
	width: 76%;
	display: table-cell;
}

.art-footer {
	clear: both;
	width: 90%;
	border: 1px solid #ccc;
	margin: 30px auto;
	text-align: right;
	background-color: #FFF;
}

.list-view .items .view {
	padding: 10px 20px;
	line-height: 25px;
	border-bottom: 1px solid #bbb;
}

.team {
	width: 70%; margin: 0 auto;
	padding: 20px 0;
	display: table;
}

.team-title {
	border: 1px solid #ccc; height: 30px; line-height: 30px; background-color: #bbb; padding: 0 20px;
}

.team-title h3 {
	float: left;
}

.team-title div.team-title-menu {
	float: right;
}

.team-title div.team-title-menu div { 
	float: left;
	margin: 0 10px;
	font-size: 16px;
}

.box-atletas {
	clear: both;
	margin: 5px 0;
	display: table;
}
.box-atletas .new-atleta { 
	float: left;
	margin: 0 10px;
	font-size: 16px;
}

.box-atletas .team-atleta-menu { 
	float: right;
	margin: 0 10px;
	font-size: 16px;
}

.box-atletas .team-atleta-menu div { 
	float: left;
	margin: 0 10px;
	font-size: 16px;
}

.submit-inscricao {
	margin: 0 auto;
	text-align: center;
	padding: 30px 0;
}

.info-atleta {
	margin: 15px 20px;
}

.escolha-modalidade {
	text-align: center; height: 50px; width: 100%;
}

.escolha-modalidade select option {
	width: 250px; height: 15px; font-weight: 14px;
}

.team-tech {
	margin: 10px 0;
	float: left;
}

.escolha-curso {
	text-align: center;
}

#acdnmenu 
{
    /* Note about height: 
    Set "height:auto;" if flexible height is required. 
    A fixed height is prefered as content below the menu won't be pulled down/up when the menu is expanding/collapsing. */
    height: 300px;
    width: 100%; /*or pixel value*/
    font-size:0;
}


#acdnmenu ul.top
{
	padding-left:0;
    border:1px solid #0B4E78;
    background:none;
}

#acdnmenu div.heading, #acdnmenu a.link
{
    padding:8px; padding-left:32px;
    text-align:left;
    font:normal 12px Verdana;
    color:#BBB; 
    background:#47A url(bg.jpg) left top;
    text-decoration:none;
    outline:none;
}

#acdnmenu div.current, #acdnmenu div:hover, #acdnmenu a.link:hover, #acdnmenu div.current a.link
{
    color:#DDD;
    font-weight:normal;
    text-decoration:none;   
    background:#47A url(bg.jpg) 20% top;
}

/*Top level link without children*/
#acdnmenu a.current, #acdnmenu a.current:hover
{
    color:#FFF;
    text-decoration:underline;   
}

/* arrow image for the top headings */
#acdnmenu div.arrowImage {
    width:12px;
    height:12px;
    top:9px;
    right:6px; left:auto; /*Setting "left:8px;right:auto;" will position the arrow image to the left*/
    background-image:url(arrows.gif);
    background-position:0 0;
}

#acdnmenu div.current div.arrowImage {
    background-position:0 -12px;
}

#acdnmenu li.separator
{
    border-top:1px solid black;
    border-bottom:1px solid #0B4E78; 
}


/* ##### Sub level items #####*/
#acdnmenu ul.sub
{
	padding-left:14px; /*This determines the hierarchical offset*/ 
    background:#47A url(bg.jpg) 20% -30px;/**/
}
#acdnmenu ul.sub ul.sub
{
    background:none; 
}

#acdnmenu ul.sub div.heading
{
    text-align:left;
    font:normal 12px Arial;
    padding:5px; padding-left:20px;
    color:#BBB;
    background:none; 
}
#acdnmenu ul.sub div.heading a
{
    color:#BBB;
}

#acdnmenu ul.sub div.current
{
    color:#DDD;
    background:none; 
}

#acdnmenu ul.sub a.link
{
    font:normal 11px Arial;
    color:#BBB;
    padding:5px; padding-left:20px;
    text-decoration:none;
    background:none; 
}

#acdnmenu ul.sub a.link:hover, #acdnmenu ul.sub a.current, #acdnmenu ul.sub div.heading a:hover, #acdnmenu ul.sub div.heading a.current
{
    color:#FFF;
    text-decoration:underline;
    background:none; 
}


#acdnmenu ul.sub div.arrowImage {
    width:12px;
    height:12px;
    top:6px;
    left:4px;
    background-image:url(arrows.gif);
    background-position:0 -24px;
}
#acdnmenu ul.sub div.current div.arrowImage {
    background-position:0 -36px;
}



/* ##### Followings usually don't need modification ###### */
/*Hack the font-size:0 bug for IE6 */
#acdnmenu,  #acdnmenu ul
{
    display:block;
    font-size:0px;
    line-height:0px;
}
#acdnmenu li {font-size:12px; line-height:16px;}
#acdnmenu:after {content:'.';height:0;clear:both;display:block;visibility:hidden;} 
#acdnmenu ul, #acdnmenu li, #acdnmenu div.heading, #acdnmenu a.smLink, #acdnmenu div.description {*zoom:1;}
#acdnmenu li {*float:left;*width:100%;}

#acdnmenu ul
{
	position:relative;/*!*/
	overflow:hidden;
	padding:0;margin:0;list-style-type: none;padding-left:10px;
}
#acdnmenu>ul{visibility: hidden;}
#acdnmenu li {padding:0;margin:0;}

#acdnmenu div.heading, #acdnmenu div.current
{
	position:relative;
    cursor: pointer;
}
#acdnmenu div.arrowImage {position:absolute; overflow:hidden;}

